.blog-design-masonry {
 .entry-content{
   text-align: left;
   font-size: 12px;
   color: #7B7B7B;
 }
  .read-more-section {
    text-align: left;

    a {
      color: #9C9C9C;
      font-size: 12px;
    }
  }

  .post-mask {
    padding-top: 45px;
  }

  .entry-content {
    font-size: 12px;
    color: #3D3D3D;
  }
}