.title-wrapper.basel-title-size-default h4.title {
  font-size: 16px;
  color: #3D3D3D;
  font-weight: bold;
}

.title-wrapper.basel-title-size-default h3.title {
  font-weight: bold;
  font-size: 24px;
  color: #3D3D3D;
}