.basel-products-nav {
  display: none;
}
.page-title {
  .entry-title {
    font-size: 40px;
    font-weight: 700;
    text-transform: inherit;
  }
}

.title-size-small {
  padding-top: 48px;
  padding-bottom: 48px;
}

.single-breadcrumbs-wrapper .woocommerce-breadcrumb {
  padding: 12px;
}