.vc_tta-title-text {
  color: #3D3D3D;
  font-weight: bold;
}

.vc_tta-panel {
  а {
    background-color: #F4F4F4;
  }
}

.vc_tta-panel-body {
  .wpb_wrapper {
    color: #9C9C9C;
  }
}

.vc_active {
  background-color: #F4F4F4;
}

vc_tta-panel-title {
  a {
    background-color: #F4F4F4;
  }
}