.post-mask {
  text-align: initial;
}

.footer-container.color-scheme-light ul li a {
  color: white;
}

.footer-container.color-scheme-light ul li p {
  color: white;
}

.copyrights-wrapper {
  background-color: #212121;
}

.footer-container.color-scheme-light p {
  color: white;
}

.wgs-logo {
  width: 58px;
  height: 18px;
}

.min-footer {
  padding: 10px 0;

  .col-left {
    color: white;
  }

  .col-right {
    color: white;
  }
}

#text-16 {
  width: 300px;
}

.footer-container .widget-area {
  padding: 33px 0 20px 0;
}