.partners {
  .vc_column-inner {
    padding: 0;
  }

  .wpb_single_image {
    margin-bottom: 0;
    border: 1px solid #E2E2E2;
    border-bottom: none;
    border-right: none;

    &:last-child {
      border-bottom: 1px solid #E2E2E2;
    }

    img {
      width: 233px;
      height: 233px;
    }
  }

  .column-first {
    .wpb_single_image {
      &:last-child {
        border-right: 1px solid #E2E2E2;
      }
    }
  }

  .column-last {
    .wpb_single_image {
      border-right: 1px solid #E2E2E2;
    }
  }
}